@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
div {
  position:relative;
  z-index: 2;
}

body {
  background-color: #659E8A;
  color: #659E8A;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
}
.footer {
  width:450px;
  text-align:center;
  display:block;
  margin:15px auto 30px auto;
  font-size:0.8em;
  color:#fff;
  a {
    font-weight:500;
    text-decoration:none;
    color:#fff;
  }
}
.quote-box {
  border-radius:3px;
  position:relative;
  margin:8% auto auto auto;
  width:450px;
  padding:40px 50px;
  display:table;
  background-color:#fff;
  .quote-text {
    i{
      font-size:1.0em;
      margin-right: 0.4em;
    }
    text-align:center;
    width:450px;
    height:auto;
    clear:both;
    font-weight:500;
    font-size:1.75em;
  }

  .quote-heading {
    color: black;
    font-size: 1.2em;
  }

  .quote-author {
    width:450px;
    height:auto;
    clear:both;
    padding-top:20px;
    font-size:1em;
    text-align:right;
  }
  .buttons {
    width:450px;
    margin:auto;
    display:block;
    .button {
      height:38px;
      border:none;
      border-radius:3px;
      color:#fff;
      background-color:#333;
      outline:none;
      font-size:0.85em;
      padding: 8px 18px 6px 18px;
      margin-top:30px;
      opacity:1;
      cursor:pointer;
      &:hover {
        opacity:0.9;
      }
      &#tweet-quote, &#tumblr-quote {
        float:left;
        padding:0px;
        padding-top:8px;
        text-align:center;
        font-size:1.2em;
        margin-right:5px;
        height:30px;
        width:40px;
      }
      &#new-quote {
        float:right;
      }
    }
  }

}

/* Nav */

    @media (min-width: 1000px) {
      .quote-box {
        padding: 22rem 0; }
    }

    @media (min-width: 750px) {
      .quote-box {
        height: 190px; }
    }

    @media (min-width: 550px) {
      .quote-box {
        text-align: left; }
    }




/* Hero */

@media (min-width: 1000px) {
  .section-hero {
    padding: 22rem 0; }
}

@media (min-width: 750px) {
  .section-hero {
    height: 190px; }
}

@media (min-width: 550px) {
  .section-hero {
    text-align: left; }
}



/* Container */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}


/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

    @media (min-width: 550px) {
    .one-half.column {
        width: 48%; }
    .phones {
      position: relative; }
}












/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}
