* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
div {
  position:relative;
  z-index: 2;
}

body {
  background-color: #676EFD;
  font-family: "Open Sans", sans-serif;
  font-weight:400;
}

.quote-box {
  border-radius: 3px;
  position: relative;
  margin: 8% auto auto auto;
  width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 1.5em;
  padding: 25px 0px 5px 0px;
}

.footer {
  font-size: 0.5em;
  color: white;
  text-align: center;
  padding: 25px 0px 5px 0px;
}

.quote-title {
  font-size: 2em;
  font-weight: 600;
  margin: 3% 0% 5% 0%;

}

.quote-heading {
  margin: 3% 0% 5% 0%;


}

.maori {
  margin: 8% 8%;

}

.english {
  margin: 8% 8%;

}



  .buttons {
    width:450px;
    margin: 5% 0%;
    display:block;
  }
      height:38px;
      border:none;
      border-radius:3px;
      color:#fff;
      background-color:#333;
      outline:none;
      font-size:0.85em;
      padding: 8px 18px 6px 18px;
      margin-top:30px;
      opacity:1;
      cursor:pointer;
      &:hover {
        opacity:0.9;

      &#tweet-quote, &#tumblr-quote {
        float:left;
        padding:0px;
        padding-top:8px;
        text-align:center;
        font-size:1.2em;
        margin-right:5px;
        height:30px;
        width:40px;
      }
      &#new-quote {
        float:right;
      }
    }
  }

}
